nav{
    background-color: transparent !important;
    border: none !important;
}

.adobe-credentials-container > input{
    max-width: 25%;
    display: inline-block;
}

.adobe-credentials-container > label{
    display: block;
}

.report-container{
    margin-top: 40px;
    padding: 30px 40px 30px 40px;
}

.report-container > .row{
   margin-top: 20px;
}

.scrollable-container{
    width: 100%;
    height: 400px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 40px 30px;
    overflow-y: scroll;
}

#report-suite-container > label{
    display: block !important;
}

#report-suite-container > input{
    display: inline !important;
    width: 75%;
}

#report-suite-container > button{
    display: inline !important;
}

#report-suite-error{
    color: red;
    display: none;
}

.scrollable-container-searchbox{
    position: absolute;
    margin-right: 30px;
}

.scrollable-container-searchbox > input{
    border-bottom-left-radius: 0px;
}

.scrollable-container-searchbox > span{
    border-bottom-right-radius: 0px;
}

.btn-create-report{
    width: 200px;
    height: 50px;
    position: relative;
    top: 10px;
}

#modal-body{
    height: 60%;
    width: 100%;
    border: none;
}

.documentation-container{
    padding: 30px 40px 30px 40px;
}